.page-footer {
    background-color: #333333;
}

.page-footer .footer {
    color: #828282;
}

.page-footer .footer i,
a {
    color: #828282;
}

.page-footer .footer h3 {
    color: #f8f8f8;
}

.grid-container {
    display: grid;
    grid-template-columns: 30% 30% 30%;
}

.grid-container h3 {
    margin-bottom: 20px;
}

.block.newsletter {
    max-width: 100% !important;
}

.grid-row {
    display: grid;
    grid-template-columns: 30% 70%;
    margin-bottom: 25px;
}
.block{
    padding:0px;
    margin-bottom:15px;
}
.block a{
    padding:15px;
    color:#828282;
}

.grid-row img {
    width: 70px;
    height: 70px;
    border-radius: 5px;
}

.watch-video-img img {
    width: 495px;
    height: 100px;
}

.grid-row-2-column {
    display: grid;
    grid-template-columns: 40% 40%;
    margin-bottom: 25px;
}



.page-header{
    background-color:black;
}
.header.content{
    background-color:black;
}


.nav-sections{
    width:670px;
    background-color:black;
}

.navigation .level0 > .level-top{
    color:red;
}
.navigation .level0 > .level-top:hover{
    color:blue;
}

.nav-sections-item-content > .navigation{
    background-color:black;
}

.nav-sections{
    margin-bottom:-40px;
}

.block-search .action.search:before {
    font-size: 25px;
    color: #6d7575;
}


.header.links{
    float:right;
}

.header.links a{
    color:red;
}

ul > li, ol > li{
    color:red;
    list-style-type: none;
}
.header.links > .customer-welcome + .authorization-link{
    display:none;
}
