<?php
$products = $this->getProductCollectionByCategories(10);
?>
<h1> Items in Category ID 10</h1>
<?php     $numberofproduct = 1; ?>
<table>
    <tr>
        <th>Product No.</th>
        <th>Type</th>
        <th>Product Name</th>
        <th>Product Price</th>
        <th>Product Description</th>
    </tr>

<?php foreach ($products as $key => $product) { ?>
    <tr>
        <td><?php print_r($numberofproduct)?></td>
        <td><?php print_r($product->getTypeId());?></td>
        <td><?php print_r($product->getName()); ?></td>
        <td><?php print_r($product->getPrice()); ?></td>
        <td><?php print_r($product->getDescription());?></td>
    </tr>
    <?php $numberofproduct+=1;?>
<?php } ?>
</table>



